
<!-- Banner -->

<div class="banner">
  <div class="banner-content">

		

		<div class='opening-text'>
			<span class="opening-text-name">Niru</span> Affordable Drip Irrigation Systems
		</div>
		<div class="sub-opening-text"> 
			“Increasing Small Farmers Income One Farm at a Time”
		</div>

        <div class="socia-icons">
            <div class="row footer-row">
                    <div class="footer-box col-sm-12">
                        <div class="social-links">
                            <%= link_to image_tag('mail-white.png', id: 'blah', class: 'footer-img', alt: 'About'), 'mailto:hello@niru.in' %>
                            <%= link_to image_tag('facebook-white.png', id: 'blah', class: 'footer-img', alt: 'About'), 'https://www.facebook.com/Niru' %>
                            <%= link_to image_tag('twitter-white.png', id: 'blah', class: 'footer-img', alt: 'About'), 'https://twitter.com/Niru' %>
                        </div>
                    </div>
              
               </div>
        </div>


  </div>
</div>

<!-- Features -->

<div class="big-container">

<div class="container-fluid">

    <div class="mid-text-container">
        <h1>Our Model</h1>
          <p>Affordable monthly financing for low-cost drip irrigation systems</p>
    </div>


    <div class="row">

        <div class="service-box col-sm-4">
            <div class="square animated bounceIn">
                <%= image_tag('profile.png', id: 'blah', class: 'media-img', alt: 'About') %>
            </div>
            <h2>
                Identify & Educate
            </h2>
            <p>
                Identify villages that are in need of better irrigation methods & provide training on low-cost drip irrigation methods
            </p>
        </div>

        <div class="service-box col-sm-4">
            <div class="square animated bounceIn">
                <%= image_tag('nudge.png', class: 'media-img', alt: 'About') %>
            </div>
            <h2>
                Affordable Drip Irrigation Systems
            </h2>
            <p>
                After 12 affordable monthly payments the system becomes theirs to keep. 
            </p>
        </div>

        <div class="service-box col-sm-4">
            <div class="square animated bounceIn">
                <%= image_tag('getnoticed.png', class: 'media-img', alt: 'About') %>
            </div>
            <h2>
                Extra Food & Income
            </h2>
            <p>
                Farmers are able to use the surplus crop for better nutriotion and extra income.
            </p>
        </div>


    </div>

</div>

</div>


<!-- signup form -->

<div class="subscription-section">

    <div class="container-fluid">

        <div class="row">

            <div class="newsletter-form-img col-md-4 col-lg-6">
                <div class="container-form-image">
                    <%= image_tag('email.png', class: 'subscription-img', alt: 'subscription-image') %>
                </div>
            </div>

            <div class="newsletter-form-content col-md-8 col-lg-6">
                <p>Sign Up For Free</p>
                <p>Stay Updated With News On Our Upcoming Launch</p>
            
                    <div class="form-subscribe">
                       
                        <form action="http://krowdprize.us8.list-manage.com/subscribe/post" method="POST" role="form">

                            <div class="form-inputs subscription-box">

                                <input type="hidden" name="u" value="c50dae01481d495cdc2281893">
                                <input type="hidden" name="id" value="4bb9def9c8">

                                <div class: "form-space">
                                    <div class: "form-group">
                                       <input type="text" name="MERGE1" id="MERGE1" class="form-control" size="25" value="" placeholder="First Name">
                                    </div>
                                </div>
                                <div class: "form-space">
                                    <div class: "form-group">
                                        <input type="text" name="MERGE2" id="MERGE2" class="form-control" size="25" value="" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class: "form-space">
                                    <div class: "form-group">
                                        <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" class="form-control" size="25" value="" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                              <input type="submit" class="btn btn-default btn-lg" name="submit" value="Sign up!">
                            </div>

                       

                    </div>
            </div>



        </div>

    </div>

</div>



<!-- imagebreak -->

<div class="image-break">
    <div class="image-text-container">
        Coming January 2015
    </div>

</div>
<!--- Examples -->

